body {
    font-family: 'VT323', monospace;
    background-image: url(./assets/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: black;
}

.click-img {
    width: 30vw;
    height: auto;
}

.accordion {
    position: absolute;
    top: 48vh;
    margin: 0 3em;
}

.upgrade-btn {
    padding: 0 6rem;
}

.ripple {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: fixed;
    border-radius: 50%;
    border: 1px solid $ffffff59;
}

.img-shake {
    animation: shake 0.1s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes ripple-effect {
    to {
        transform: scale(15);
        opacity: 0.01;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}