body {
    font-family: 'VT323', monospace;
    background-image: url(./assets/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #245b57;
}

.click-img {
    width: 30vw;
    height: auto;
}

.accordion {
    position: absolute;
    top: 48vh;
}

.card-header {
    background-color: #333333;
    font-family: 'Press Start 2P', cursive;
}

.upgrade-btn {
    padding: 0 5rem;
    margin: auto;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-content {
    color: white;
}

#bug-click {
    z-index: 1000;
    position: relative;
    font-size: 2.5rem;
    left: 50px;
    top: 50px;
    color: darkorange;
}

.hidden {
    visibility: hidden;
}

.fade-out {
    animation: fadeOut ease 1s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        top: 50px;
    }
    100% {
        opacity: 0;
        top: 0px;
    }
}

.img-shake {
    animation: shake 0.1s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@media only screen and (max-width: 600px) {
    .click-img {
        width: 60vw;
        height: auto;
        margin-top: 8vh;
    }
    .accordion {
        position: initial;
        top: auto;
        margin: auto;
    }
}

@media only screen and (min-width: 770px) {
    .button-div {
        margin-left: -14rem;
        margin-right: -19rem;
    }
}